arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
datetime-truncate
Django
django-admin-charts
django-autoslug
django-bower
django-browser-reload
django-ckeditor
django-jazzmin
django-js-asset
django-light
django-memoize
django-multiselectfield
django-nvd3
django-tailwind
django-tinymce
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mysql-connector-python
mysqlclient
pillow
Pygments
python-dateutil
python-nvd3
python-slugify
PyYAML
requests
rich
six
sqlparse
text-unidecode
types-python-dateutil
typing_extensions
tzdata
Unidecode
urllib3