## The following requirements were added by pip freeze:
arrow==1.3.0
asgiref==3.7.2
binaryornot==0.4.4
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cookiecutter==2.6.0
datetime-truncate==1.1.1
Django==5.0.3
django-admin-charts==1.3.0
django-autoslug==1.9.9
django-bower==5.2.0
django-browser-reload==1.12.1
django-ckeditor==6.7.1
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-light==0.1.0.post3
django-memoize==2.3.1
django-multiselectfield==0.1.12
django-nvd3==0.9.7
django-tailwind==3.8.0
django-tinymce==3.7.1
idna==3.6
Jinja2==3.1.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mysql-connector-python==8.3.0
mysqlclient==2.2.4
pillow==10.2.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-nvd3==0.14.2
python-slugify==8.0.4
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.10.0
tzdata==2024.1
Unidecode==1.3.8
urllib3==2.2.1