

<div class="bg-white shadow-lg rounded-lg p-6 mb-4">
    <div class="md:flex md:items-start">
        <!-- Job Information -->
        <div class="md:w-3/4 lg:w-4/5">
            <h2 class="text-2xl font-bold text-blue-800">{{ job.job_title }}</h2>
            <div class="text-sm text-gray-600 mt-2">
                <i class="fas fa-building mr-1"></i> {{ job.company_name }}
            </div>
            <div class="text-sm text-gray-600">
                <i class="fas fa-map-marker-alt mr-1"></i> {{ job.location }}
            </div>
            <div class="text-sm text-gray-600">
                <i class="fas fa-clock mr-1"></i> Published on: {{ job.date_posted|date:"M d, Y" }}
            </div>

            <hr class="my-4">

            <div>
                <h3 class="text-lg font-semibold text-gray-700">Job Description</h3>
                <p class="text-base text-gray-800">{{ job.long_description }}</p>
            </div>

            <div class="mt-4">
                <h3 class="text-lg font-semibold text-gray-700">Responsibilities</h3>
                <ul class="list-disc list-inside mt-2 text-gray-600">
                    {% comment %} {% for responsibility in job.responsibilities.split(';') %}
                    <li>{{ responsibility }}</li>
                    {% endfor %} {% endcomment %}
                </ul>
            </div>

            <div class="mt-4">
                <h3 class="text-lg font-semibold text-gray-700">Qualifications</h3>
                <ul class="list-disc list-inside mt-2 text-gray-600">
                    {% comment %} {% for qualification in job.qualifications.split(';') %}
                    <li>{{ qualification }}</li> 
                    {% endfor %}{% endcomment %}
                </ul>
            </div>
        </div>

        <!-- Sidebar for Apply Button and Share Options -->
        <div class="md:w-1/4 lg:w-1/5 md:ml-6 mt-6 md:mt-0">
            <div class="text-center md:text-left">
                {% comment %} <a href="{% url 'apply_for_job' job.id %}" class="inline-block bg-blue-600 text-white rounded-full px-6 py-2 font-semibold text-lg cursor-pointer hover:bg-blue-700 transition duration-300">Apply Now</a> {% endcomment %}
            </div>
            <div class="mt-4">
                <h3 class="text-lg font-semibold text-gray-700">Share this Job</h3>
                <div class="flex justify-center md:justify-start mt-2">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="text-blue-600 mr-2">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check out this job: {{ job.job_title }} at {{ job.company_name }}" target="_blank" class="text-blue-300 mr-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ job.job_title }}&summary={{ job.short_description }}&source=LinkedIn" target="_blank" class="text-blue-500">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related Jobs Section -->
<div class="mt-6">
    <h3 class="text-xl font-bold text-gray-700 mb-4">Related Jobs</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% comment %} {% for related_job in related_jobs %} {% endcomment %}
        <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-xl transition duration-300 ease-in-out">
            {% comment %} <a href="{% url 'jobs:job_detail' related_job.slug %}" class="hover:underline"> {% endcomment %}
                {% comment %} <h4 class="text-lg font-semibold text-blue-600">{{ related_job.job_title }}</h4> {% endcomment %}
            </a>
            <p class="text-sm text-gray-500">{{ related_job.short_description }}</p>
            <div class="text-sm text-gray-600">
                <i class="fas fa-building mr-1"></i> {{ related_job.company_name }}
            </div>
            <div class="text-sm text-gray-600">
                <i class="fas fa-map-marker-alt mr-1"></i> {{ related_job.location }}
            </div>
        </div>
        {% comment %} {% endfor %} {% endcomment %}
    </div>
</div>

